/* Animações */
@keyframes animaCenter {
  0% {
    width: 5%;
    height: 2px;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
  }

  50% {
    width: 50%;
    height: 2px;
  }

  100% {
    width: 50%;
    height: auto;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(255, 255, 255, 0.425);
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 18px;
  }
}

@keyframes animaImagens {
  0% {
    opacity: 0%;
  }

  60% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}

/* Body, main e bg */
body {
  margin: 0px;
  padding: 0px;
}

.bg {
  background-image: url(../Content/BG01.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* Divs */
div.centraliza-div {
  display: flex;
  margin: 30px auto;
  flex-wrap: wrap;
  animation: animaCenter 2s forwards;
}

div.central-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 3px auto;
  text-align: center;
  animation: animaCenter 3s forwards;
}

/* Headlines */
h1 {
  color: #c822ac;
  font-size: 2em;
  text-align: center;
}

h1.main-layout {
  font-size: 40px;
  color: rgb(72, 255, 0);
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.534);
}

h2.main-layout {
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.534);
  text-align: center;
  margin: 30px 30px 5px;
  animation: animaImagens 3s forwards;
}

h2.support-layout {
  font-size: 30px;
  color: #c822ac;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.534);
}

/* Text */
p.running-text {
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.534);
  text-align: center;
  margin: 30px;
  animation: animaImagens 3s forwards;
}

/* Images */
img {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

img.image-style {
  width: 360px auto;
  height: 640px auto;
  object-fit: cover;
  object-position: 50% 50%;
  margin: 10px auto 15px;
  border-radius: 8px;
  box-shadow: 8px 8px 2px rgba(0, 0, 0, 0.534);
  animation: animaImagens 3s forwards;
}

/* Links */
a {
  color: rgb(72, 255, 0);
  text-decoration: none;
}

a:visited {
  color: #c822ac;
  text-decoration: none;
}

/* Responsiveness */
@media only screen and (max-width: 960px) {
  .bg {
    background-image: url(../Content/BG03_Phone.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  .centralizaDiv {
    width: 100%;
    height: auto;
    border: 0px;
  }
}
